<!DOCTYPE html>
<html lang="en">

{% extends "public/templates/public_template.html" %}

{% block title %}Home{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
    </div>
  </div>
</div>

<h1 style="color: darkred">EC601 Understanding Cloud Organization</h1>
<hr>


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <h3 style="color: darkred">About The Project</h3>
  <p>As the climate changes, so do shallow cloud patterns. We were able to create a supervised learning model that can classify these clouds into four categories from satellite images.</p>
  <p>Below is our final poster presentation, outlining the project and our accomplishments.</p>
  <img src="{{ url_for('static', filename='img/602_poster.png') }}" alt="" width=1200 height=800>
  <hr>
  <p>Simply click on the "Upload Image" tab to begin!</p>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>

{% endblock %}