{% extends "public/templates/public_template.html" %}

{% block title %}Upload{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">

      <h1 style="color: darkred">EC601 Understanding Cloud Organization</h1>
      <hr>

      <form action="/upload-image" method="POST" enctype="multipart/form-data">

        <div class="form-group">
          <h4 style="color: darkred">Upload Image</h4>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="image" id="image">
            <label class="custom-file-label" for="image">Select image...</label>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Upload</button>

      </form>

      <body>

        {% if filename %}
          <div style="display: flex; justify-content: center;">
            <img src="{{ url_for('send_file', filename=filename,) }}" width=480 height=320>
          </div>
        {% else %}
          <h1>no image</h1>
        {% endif %}

        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
      </body>

    </div>
  </div>
</div>

{% endblock %}